@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Quicksand&family=Roboto&display=swap");

// =======QITYMATLAR=======
$body-font-famil: "Livvic",
sans-serif;
$backround-colo: #014e56;
$Midnight-Green: #014e56;
$span-color: #f67e7e;
$text-color: #ffff;
$black:#0000;
$text-color-green: #79c8c7;
$Police-Blue: #2c6269;
$Deep-Jungle: #004047;
$footer-text-color: #012f34;
$Dark-Green: #002529;

$button-p: 10px 25px;
$button-radius: 50px;

// ===h1 style start====
$h1-heading: 80px;
$h1-line-height: 56px;
$h2-heading: 50px;
$h2-line-height: 48px;
$h2-weight: 700;
$Deep-Jungle: #004047;
//====h1 style start====

// ===h3 style start====
$h3-size: 18px;
$h3-line-height: 28px;
$h3-weight: 700;
$h3-color: #79C8C7;
//====h3 style start====

//====p style start====
$paragraph-size: 18px;
$paragraph-line-h: 28px;
$paragraph-weight: 600;
//=====p style end======

//====p style start====
$p-size: 15px;
$p-line-h: 25px;
$p-weight: 600;
//=====p style end======

$container-width: 1110px;
$container-y-pad: 0 20px;
// =======QITYMATLAR=======

// ========ASOSIYA STILLAR START======
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $body-font-famil;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: $container-y-pad;
}

// ======GLOBAL BUTTON START=======
.btn {
  padding: $button-p;
  border: none;
  cursor: pointer;
  background: transparent;
  border: 1.2px solid $text-color;
  border-radius: $button-radius;
  color: $text-color;
  font-weight: $paragraph-weight;
  line-height: $paragraph-line-h;
}

// ======GLOBAL BUTTON END=======


.section__color1 {
  background-color: $Midnight-Green;
}

.section__color2 {
  background-color: $Dark-Green;
}

// ========ASOSIY STILLAR END======

// ========HEADER QISMI BOSHLANISHI=======
header {
  padding: 20px 0;
  background-color: $Midnight-Green;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .logo {
    margin-right: 50px;
  }

  .nav {
    flex-grow: 1;

    ul {
      display: flex;
      list-style: none;

      .nav__link {
        text-decoration: none;
        color: $text-color;
        margin-right: 15px;
        font-size: $paragraph-size;
        font-weight: $paragraph-weight;
      }
    }


    .btn {
      padding: $button-p;
      border: none;
      background: transparent;
      border: 1.2px solid $text-color;
      border-radius: $button-radius;
      color: $text-color;
      font-weight: $paragraph-weight;
      line-height: $paragraph-line-h;
    }

    .button .btn:hover {
      color: black;
      background: $text-color;
    }
  }

  // ========HEADER QISMI TUGASHI==========


  // =======MAIN ABOUT QISMI BOSHLANISHI====
  .main {
    .about__container {
      display: flex;
      height: 100vh;
      justify-content: space-between;
      align-items: center;

      .text__h1 {
        width: 900px;
      }

      .text__h1 h1 {
        font-size: $h1-heading;
        color: $text-color;

        span {
          color: $span-color;
        }
      }

      p {
        max-width: 440px;
        font-size: $paragraph-size;
        line-height: $paragraph-line-h;
        color: $text-color;
      }
    }

    .section {
      height: 100vh;

      .about__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text__h1 h1 {
          font-size: $h2-heading;
          font-weight: $h2-weight;
          line-height: $h1-line-height;
          color: $text-color;
        }

        .box__container {
          max-width: 445px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          gap: 3rem;

          .box {
            display: flex;
            gap: 20px;

            span {
              color: $span-color;
            }

            p {
              margin-top: 10px;
              color: $text-color;
            }

          }
        }
      }
    }

    .client {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 700px;
      text-align: center;
      padding: 5% 0px;

      .heading h2 {
        padding: 50px 0;
        color: $text-color;
        font-size: $h2-heading;
        font-weight: $h2-weight;
        line-height: $h2-line-height;
      }

      .client__inner {

        .box__container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 15px;
          color: $text-color;

          .box {
            padding: 10px;

            .text_p {
              position: relative;

              p {
                z-index: 10000;
                font-size: $p-size;
                font-weight: $p-weight;
                line-height: $p-line-h;
                margin-bottom: 25px;
              }

              i {
                z-index: 1;
                top: -40px;
                left: 0;
                right: 0;
                font-size: $h1-heading;
                color: $Police-Blue;
                position: absolute;
              }
            }

            .text {
              margin-bottom: 30px;

              h3 {
                font-size: $h3-size;
                font-weight: $h3-weight;
                line-height: $h3-line-height;
                color: $h3-color;
              }

              span {
                margin-bottom: 20px;
                color: $text-color;
              }
            }
          }
        }
      }
    }




    .box__container {
      padding: 50px 20px;
      display: flex;
      justify-content: space-between;

      .nav ul li {
        list-style: none;

        a {
          text-decoration: none;
          color: $text-color;
        }
      }
    }

  }

  .footer {
    width: 100%;
    padding: 4rem 0;
    background-color: $span-color;

    .section__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        color: black;
        font-size: $h2-heading;
        font-weight: $h2-weight;
        line-height: $h2-line-height;
      }
    }
  }



  .foooter__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5% 10%;

    .footer__nav {
      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $text-color;
        }
      }
    }
  }

  // =======MAIN ABOUT QISMI TUGASHI========



  // =======SECTION ABOUT QISMI BOSHLANISHI====

  // =======SECTION ABOUT QISMI TUGASHI========